{% extends 'visitors/base.html' %}
{% block content %}
<header>
	<!-- navbar -->
</header>

<main role="main">
	<section class="jumbotron text-center">
		{% if messages %}
		<ul class="messages">
			{% for message in messages %}
			<li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
			{% endfor %}
		</ul>
		{% endif %}

		<div class="container">
			<h1 class="jumbotron-heading display-3">Welcome to Torquay Towers.</h1>
			<p class="lead text-muted">Nestled in the hills of the picturesque English Riviera, Torquay Towers offers guests a taste of the peaceful, scenic English countryside at affordable rates.</p>
			<p>
				<a href="{% url 'visitors:make_booking' %}" class="btn btn-primary my-2">Book a Stay</a>
				<a href="#" class="btn btn-secondary my-2">Contact Us</a>
				<a href="#" class="btn btn-secondary my-2">Reviews</a>
			</p>
		</div>
	</section>

	<div class="album py-5 bg-light">
		<div class="container">
			<div class="row">
				<div class="col-md-6">
					<div class="card mb-4 shadow-sm">
						<div class="card-header">
							<h4>Our Staff</h4>
						</div>
						<img src="http://i.dailymail.co.uk/i/pix/2016/03/23/05/326A322700000578-3505507-image-m-62_1458710841829.jpg" max-width="650px">
						<div class="card-body">
							<p class="card-text">
								Our attentive staff members strive to provide a pleasant, personalized service to our guests.
							</p>
						</div>
					</div>
				</div>
				<div class="col-md-6">
					<div class="card mb-4 shadow-sm">
						<div class="card-header">
							<h4>Management</h4>
						</div>
						<img src="http://roadshowgethooked.files.wordpress.com/2014/07/fawlty-towers.png" width="350px">
						<div class="card-body">
							<p class="card-text">
								Our management staff is always available to handle requests and queries.
							</p>
						</div>
					</div>
				</div>
				<div class="col-md-6">
					<div class="card mb-4 shadow-sm">
						<div class="card-header">
							<h4>Charm</h4>
						</div>
						<img src="https://ianfarrington.files.wordpress.com/2015/10/5hg0typiisk8rf74k0syknemwuf.jpg" width="350px">
						<div class="card-body">
							<p class="card-text">
								Our staff provides impromptu amusements to our guests to add joy and entertainment to their experience.
							</p>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>

</main>

{% endblock %}