{% extends "base.html" %}
{% block title %}Your Cart{% endblock %}
{% block content %}
<h1>Your Cart</h1>
{% if cart.pets|length > 0 %}
  <div class="row">
      <ul class="list-group cart">
        {% for pet in cart.pets %}
        <li class="list-group-item cart-item">
          <div class="pet-details">
            <img src="{{ pet.image }}">
            <div class="pet-name">{{ pet.name }}</div>
          </div>
          <div>
            <div class="pet-price">${{ pet.price }}</div>
          </div>
        </li>
        {% endfor %}
      </ul>
  </div>
  <div class="row cart-total-row">
    <div>Total: </div><div class="cart-total">${{ total }}</div>
  </div>
  <div class="row cart-total-row buttons-row">
    <a class="btn btn-secondary empty-button" href="{{ url_for('empty_cart') }}">Empty</a>
  </div>
{% else %}
<div class="row">
  <h2>Your cart is empty</h2>
</div>
{% endif %}


{% endblock %}