{% extends "base.html" %}
{% block title %}Your Cart{% endblock %}
{% block content %}
<h1>Welcome to Our Pet Shop!</h1>
<div class="row pb-5">
    <div class="col-4">
      <div class="card mt-3">
        <div style="overflow: hidden; height: 15rem;">
          <img src="http://1.bp.blogspot.com/__82348puvBM/TACA7PXeDNI/AAAAAAAAAB4/DnVPw_0wnjw/s1600/golden-retriever-puppies.jpg" class="card-img-top">
        </div>
        <div class="card-body pet-card">
          <h5 class="card-title pet-name">Our Pets</h5>
          <a href="{{ url_for('show_pets') }}" class="btn btn-primary">View</a>
        </div>
      </div>
    </div>    <div class="col-4">
      <div class="card mt-3">
        <div style="overflow: hidden; height: 15rem;">
          <img src="http://3.bp.blogspot.com/-D8zquF8b6Fo/UMlQmiwB3pI/AAAAAAAAHdI/nTPWVsqc29k/s640/Shopping+cart+cat.JPG" class="card-img-top">
        </div>

        <div class="card-body pet-card">
          <h5 class="card-title pet-name">Your Cart</h5>
          <a href="{{ url_for('show_cart') }}" class="btn btn-primary">View</a>
        </div>
      </div>
    </div>
</div>

{% endblock %}