{% extends 'polls/base.html' %}
{% load static %}
{% block title %}{{ question.question_text }}{% endblock %}
{% block content %}
<div class="container">
	<div class="row">
		<img src="{% static 'polls/images/1200px-Question_mark.svg.png' %}" class="question-icon">
		<span class="h1">{{ question.question_text }}</span>
	</div>
	<div class="row">
		<div class="col-md-1"></div>
		<div class="col">
			<div class="list-group">
				{% for choice in choices.all %}
					<a href="{% url 'polls:vote' question_id=question.pk choice_id=choice.pk %}" class="list-group-item list-group-item-action">
						{{ choice }}
						<span class="badge badge-pill badge-primary">{{ choice.votes }}</span>
					</a>
				{% endfor %}
			</div>	
		</div>
		<div class="col-md-1"></div>
	</div>
</div>
{% endblock %}