{% extends 'base.html' %}

{% block content %}
<div class="container">
	<div class="section-menu">
		<h1 class="text-center">Menu</h1>

		{% with messages = get_flashed_messages() %}
			{% if messages %}
				{% for message in messages %}
					<div class="alert alert-info" role="alert">
						{{ message }}
					</div>
				{% endfor %}
			{% endif %}
		{% endwith %}

	<!-- To do: add menu content here. -->
	</div>
	<div class="section-orders">
		<!-- To do: add orders content here. -->
	</div>
</div>
{% endblock %}