{% extends "base.html" %}
{% block content %}
<h1>Stats</h1>
<div class="row">
    <div class="col-12">
        <div class="jumbotron game">
            <div class="row">
                <div class="col-6">
                    <h3>Last Game:</h3>
                    <p class="lead">
                        <dl>
                            <dt>Guesses</dt>
                            <dd>5</dd>
                            <dt>
                        </dl>
                    </p>
                </div>
                <div class="col-6">
                    <h3>All Games:</h3>
                        <dl>
                            <dt>Guesses</dt>
                            <dd>20</dd>
                        </dl>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}