{% extends "base.html" %}
{% block content %}
<div class="container-fluid">
  <div class="row mx-3 mb-3">
    <div class="col">
      <span class="h1 mx-3">Customers</span>
      {% if customers|length > 0 %}
        <a class="btn btn-primary" href="{{ url_for('add_customer') }}">Add</a>
      {% endif %}
    </div>
  </div>
  <div class="row mx-3 justify-content-center">
    <div class="col-md-10">
      {% if customers %}
      <div class="list-group">
        {% for customer in customers %}
        <a href="{{ url_for('show_customer', customer_id=customer.customer_id) }}" class="list-group-item list-group-item-action">
          <div class="row justify-content-between">
            <div class="col-6">
              <img src="{{ url_for('static', filename='icons/person.svg') }}" class="svg-icon">
              <span class="h3">{{ customer.last_name }}, {{ customer.first_name }}</span>
            </div>
            <div class="col-6">
              <span class="h4">{{ customer.email }}</span>
            </div>
          </div>
          </a>
        {% endfor %}
      </div>
      {% else %}
      <h4 class="text-center">There are no customers</h4>
      <div class="text-center">
        <a class="btn btn-primary" href="{{ url_for('add_customer') }}">Add Customer</a>
      </div>
      {% endif %}
    </div>
  </div>
</div>

{% endblock %}