{% extends 'base.html' %}
{% block title %}Add Review{% endblock %}
{% block content %}
<div class="container">
	<div class="row mt-3">
		<div class="col-md-2">
			<img src="{{ review.movie.cover_url }}">
		</div>
		<div class="col-md-8">
			<h1>{{ movie.title }} <small>({{ movie.year }})</small></h1>
			<form method="post">
				{% csrf_token %}
				<table class="mb-2">
					<tbody>
						{{ form }}
					</tbody>
				</table>
				<div class="text-center">
					<button type="submit" class="btn btn-primary">Submit</button>
				</div>
			</form>
		</div>
		<div class="col-md-2"></div>
	</div>
</div>
{% endblock %}