{% extends 'base.html' %}
{% block title %}{{ title }}{% endblock %}
{% block content %}
<div class="container">
	<h1>{{ main_heading }} <small>{{ heading_subtext }}</small></h1>

	{% if reviews and reviews|length > 0 %}
		<div class="list-group">
			{% for review in reviews.all %}
				<a href="{% url 'portal:show_review' review_id=review.id %}" class="list-group-item list-group-item-action">
					<h3>{{ review.movie.title }} (<small>{{ review.movie.year }}</small>)</h3>
					<p>
						<span class="badge badge-pill badge-secondary mr-1">{{ review.rating }}/10</span>
						<strong>{{ review.user.first_name }} {{ review.user.last_name }}:</strong> "{{ review.title }}"
					</p>
				</a>
			{% endfor %}
		</div>
	{% else %}
		<h3 class="ml-5">No reviews found</h3>
	{% endif %}
</div>
{% endblock %}