{% extends 'base.html' %}
{% block title %}Person Search{% endblock %}
{% block content %}
  <div class="jumbotron">
    <div class="container">
      <h1 class="display-3">Disaster Rescue</h1>
      <p>Disasters happen. And when they do, we're here to help. You can easily enter details of people who are, or who might be, affected by a diaster event. You can also search for people and update their statuses.</p>
      <p><a class="btn btn-primary btn-lg" href="#" role="button">Learn more &raquo;</a></p>
    </div>
  </div>
  <div class="container">
    <div class="row">
      <div class="col-md-4">
        <h2>Add a Person</h2>
        <p>Add a person's details to our database. Please include as many details as you can, to assist rescue staff in identifying the person. </p>
        <p><a class="btn btn-secondary" href="{% url 'portal:add_person' %}" role="button">Add Person &raquo;</a></p>
      </div>
      <div class="col-md-4">
        <h2>Safe People</h2>
        <p>View the list of people who are recorded as being safe. Please note that all data is to be taken as preliminary until it has been verified with evidence.</p>
        <p><a class="btn btn-secondary" href="{% url 'portal:show_safe_persons' %}" role="button">View Safe Persons &raquo;</a></p>
      </div>
      <div class="col-md-4">
        <h2>Search for a Person</h2>
        <p>To search for a person, type your search text (eg. the person's name, ID number, etc.) in the search bar at the top of the page and click 'Search'.</p>
        
      </div>
    </div>

    <hr>

  </div> <!-- /container -->

{% endblock %}